*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: #000;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: inherit;
  font-weight: inherit;
}

em,
strong,
b {
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

mark {
  background: rgba(0, 0, 0, 0);
}

input:focus {
  outline: none;
  box-shadow: 0;
}

input::-moz-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

fieldset {
  border-width: 0;
}

button {
  background: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer;
  font: inherit;
}

button:active {
  color: inherit;
}

button:focus {
  outline: none;
}

button:required {
  box-shadow: none;
}

ul,
ol {
  list-style: none;
}

label,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

span {
  vertical-align: unset;
}

[hidden] {
  display: none !important;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.equipos {
  &-nombre {
    background-color: #f8fafc;
    padding: 1.5rem;
    border: 0 solid #e5e7eb;
    border-radius: 0.5rem;
    display: block;
    margin-bottom: 10px;
    color: #334155;
    font-size: 0.875rem;
    width: calc(100% / 4 - 10px);
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .equipos {
    &-nombre {
      width: 100%;
    }
  }
}
