name: CI fullEcommerce

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Actualizar código desde Git
        run: |
          cd /home/ronaldlopez/app/fullEcommerce
          git pull origin main

      - name: Instalar dependencias de Node.js
        run: |
          npm ci 

      - name: Reiniciar Express js
        run: |
          sudo service express stop
          sudo service express start

      - name: Build de la aplicación frontend
        run: |
          cd /home/ronaldlopez/app/fullEcommerce/frontend
          npm run build

